<div class="overlay change-name-overlay" style="display:none;">
    <div class="form-box centered">
        <h2 class="text-centered">Change Your Name</h2>
        <div class="field">
            <h3 class="label left">Name</h3>
            <input type="text" class="value user-name left">
            <div class="clearfix"></div>
        </div>
        <div class="button centered change-name-submit">Submit</div>
    </div>
</div>

<div class="overlay add-friend-overlay" style="display:none;">
    <div class="form-box centered">
        <h2 class="text-centered">Add a Friend</h2>
        <div class="button centered create-offer-button">Create offer</div>
        <div class="button centered enter-offer-button">Enter offer</div>
    </div>
</div>

<div class="overlay create-offer-overlay" style="display:none;">
    <div class="form-box centered">
        <h2 class="text-centered">Create Offer</h2>
        <div class="field">
            <h3 class="label left">Name</h3>
            <input type="text"
                   placeholder="To whom..."
                   class="value friend-name left">
            <div class="clearfix"></div>
        </div>
        <div class="button centered create-offer-submit">Create</div>
    </div>
</div>

<div class="overlay show-offer-overlay" style="display:none;">
    <div class="form-box wide centered">
        <h2 class="text-centered">Send Your Friend This Offer</h2>
        <textarea class="offer">
        </textarea>
        <h2 class="text-centered">Then Paste Your Friend's Answer Here</h2>
        <textarea class="answer-paste"></textarea>
        <div class="button centered create-connection-submit">Create Connection</div>
    </div>
</div>

<div class="overlay enter-offer-overlay" style="display:none;">
    <div class="form-box wide centered">
        <h2 class="text-centered">Paste Your Offer Here</h2>
        <textarea class="offer-paste"></textarea>
        <div class="button centered enter-offer-submit">Submit</div>
    </div>
</div>

<div class="overlay show-answer-overlay" style="display:none;">
    <div class="form-box wide centered">
        <h2 class="text-centered">Send Your Friend This Answer</h2>
        <textarea class="answer">
        </textarea>
        <h2 class="text-centered">We'll let you know when you are connected!</h2>
    </div>
</div>
