<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/normalize.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <%= include partials/fonts.ejs %>
  </head>
  <body style="background-image:url(/images/city.jpg);">
      <div class="logo-container right">
          <img class="logo-image left" src="/images/tin_can.png" alt="logo"
               width="100">
          <h1 class="logo-text left">Tin Can</h1>
      </div>
      <div class="main centered">
          <div class="friends-container">
              <h2 class="friends-heading text-centered">Contacts</h2>
              <ul class="friends">
              </ul>
              <ul class="menu-items">
                  <li class="add-friend-button menu-item text-centered">
                      + Add a friend
                  </li>
                  <li class="change-name-button menu-item text-centered">
                      Change your name
                  </li>
              </ul>
          </div>
          <div class="video-container">
              <video class="vid mini-vid"></video>
              <video class="vid full-vid"></video>
          </div>
          <div class="chat-container">
              <h2 class="name text-centered"></h2>
              <ul class="chats"></ul>
              <input placeholder="type to chat..." type="text" class="chat-write">
          </div>
          <div class="clearfix"></div>
      </div>
      <div class="footer"></div>
      <div class="templates" style="display:none;">
          <li class="friend template text-centered"></li>
          <li class="chat template text-centered">
              <div class="text">
              </div>
              <div class="time">
              </div>
          </li>
      </div>
      <%= include partials/overlays.ejs %>
      <%= include partials/javascripts.ejs %>
  </body>
</html>
