body
  font-family: basic-font
  font-size: 14px
  font-weight: 300
  background-color: white-color
  background-size: 100%
  -webkit-backface-visibility: hidden

h1, h2, h3, h4, h5, h6
  margin-top: 0
  font-family: headline-font
  font-weight: 400

a
  color: neon-blue
  text-decoration: none
  font-weight: 400
  cursor: pointer

a:hover
  text-decoration: underline

div, ul, li, table, thead, tbody, td, th, input, textarea
  box-sizing(border-box)

ul, li
  list-style-type: none
  margin: 0
  padding: 0

.blurred
  apply-blur(4px)

.text-centered
  text-align: center

.centered
  margin: auto

.right
  float: right

.left
  float: left

.clearfix
  clear: both

.small-text
  font-size: 12px
.medium-text
  font-size: 14px
.large-text
  font-size: 24px
.huge-text
  font-size: 36px

.logo-font
  font-family: headline-font

.thin
  font-weight: 300

.red-bg
  background-color: red-color

.white-text
  color: white-color

.col
  width: 100px
  float: left

.row
  height: 30px

.overlay
  position: fixed
  overflow: scroll
  width: 100%
  height: 100%
  top: 0
  left: 0
  bottom: 0
  right: 0
  z-index: 3
  background-color: rgba(0, 0, 0, 0.7)

.form-box
  width: 440px
  margin-top: 150px
  padding: 20px
  color: #EAEAEA
  background-color: rgba(0, 0, 0, 0.7);
  .title
    font-size: 24px
  .label
    width: 100px
    margin-top: 6px
    font-size: 20px
    font-weight: 300
    text-align: right
  .value
    width: 280px
    margin-left: 20px
    border: 1px solid #AAA
    padding: 5px
    font-size: 20px
    background-color: #EAEAEA
  textarea
    width: 400px
    height: 200px
    padding: 10px
.form-box.wide
  width: 840px
  margin-top: 50px
  .offer
    margin-bottom: 20px
  textarea
    width: 800px
    height: 400px



.button
  width: 300px
  height: 50px
  text-align: center
  padding-top: 12px
  color: #EAEAEA
  font-size: 18px
  font-weight: 100
  cursor: pointer
  background-color: rgba(255, 0, 0, 0.3)
  margin-top: 20px

.button:hover
  background-color: rgba(255, 0, 0, 0.4)

