.header
  .logo-container
    width: 285px
    margin-top: 20px
  .logo-text
    margin-left: 15px

.main
  width: 1000px
  margin: 0 auto
  .friends
    width: 200px
    shadow-border()
  .chat-container
    width: 600px
    shadow-border()
  .buttons
    width: 200px
    shadow-border()


