@import "normalize.css";
body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  background-color: #fafafa;
  -webkit-backface-visibility: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Slab', cursive;
  font-weight: 400;
}
a {
  color: #00b7ff;
  text-decoration: none;
  font-weight: 400;
  cursor: pointer;
}
a:hover {
  text-decoration: underline;
}
div,
ul,
li,
table,
thead,
tbody,
td,
th,
input,
textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.blurred {
  -webkit-filter: blur(4px);
  -moz-filter: blur(4px);
  -ms-filter: blur(4px);
  -o-filter: blur(4px);
  filter: blur(4px);
}
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  background: rgba(0,0,0,0.7);
}
.text-centered {
  text-align: center;
}
.centered {
  margin: auto;
}
.right {
  float: right;
}
.left {
  float: left;
}
.clearfix {
  clear: both;
}
.small-text {
  font-size: 12px;
}
.medium-text {
  font-size: 14px;
}
.large-text {
  font-size: 24px;
}
.huge-text {
  font-size: 36px;
}
.logo-font {
  font-family: 'Roboto Slab', cursive;
}
.thin {
  font-weight: 300;
}
.red-bg {
  background-color: red-color;
}
.white-text {
  color: #fafafa;
}
.col {
  width: 100px;
  float: left;
}
.row {
  height: 30px;
}
.button {
  width: 300px;
  height: 50px;
  text-align: center;
  padding-top: 12px;
  color: #eaeaea;
  font-size: 18px;
  font-weight: 100;
  cursor: pointer;
}
.header .logo-container {
  width: 285px;
  margin-top: 20px;
}
.header .logo-text {
  margin-left: 15px;
}
.main {
  width: 1000px;
  margin: 0 auto;
}
.main .friends {
  width: 200px;
  -moz-box-shadow: 0 0 0 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0 0 0 2px rgba(0,0,0,0.1);
  -o-box-shadow: 0 0 0 2px rgba(0,0,0,0.1);
  -ms-box-shadow: 0 0 0 2px rgba(0,0,0,0.1);
  box-shadow: 0 0 0 2px rgba(0,0,0,0.1);
}
.main .chat-container {
  width: 600px;
  -moz-box-shadow: 0 0 0 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0 0 0 2px rgba(0,0,0,0.1);
  -o-box-shadow: 0 0 0 2px rgba(0,0,0,0.1);
  -ms-box-shadow: 0 0 0 2px rgba(0,0,0,0.1);
  box-shadow: 0 0 0 2px rgba(0,0,0,0.1);
}
.main .buttons {
  width: 200px;
  -moz-box-shadow: 0 0 0 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0 0 0 2px rgba(0,0,0,0.1);
  -o-box-shadow: 0 0 0 2px rgba(0,0,0,0.1);
  -ms-box-shadow: 0 0 0 2px rgba(0,0,0,0.1);
  box-shadow: 0 0 0 2px rgba(0,0,0,0.1);
}
